@import "./fonts.css";

body {
	display: flex;
	justify-content: center;
	--sans: "Ysabeau", sans-serif;
	/* --sans: "Roboto", sans-serif; */
}

main {
	margin-top: 30px;
}

* {
	font-family: var(--sans) !important;
}
